<% options.forEach (option => { %>
    <div>
        <input type="radio" name='<%= name %>' value='<%= option.value %>'>
        <label for='<%= name %>'><%= option.text %></label>
    </div>
<% }) %>