html {
    font-family: 'Lato', Courier, monospace;
    font-size: clamp(14px, calc(2vw + 0.1rem), 32px);
}

body {
    background-color: #FBF5F5;
}

.form {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px 5px 20px 5px;
    margin: 75px 5% 75px 5%;
    box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.1);
}


.form-h1 {
    font-size: clamp(18px, calc(3vw + 0.1rem), 44px);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2% 0 2%;
}

.form-wrapper {
    width: 100%;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
}

form input[type=text],
form input#phone,
form select#reasons {
    height: clamp(30px, calc(3vw + 0.1rem), 54px);
    font-size: clamp(12px, calc(2vw + 0.1rem), 32px);
    margin-bottom: 20px;
}


form textarea#msg {
    height: 150px;
}

.newsletter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 20px 0;
}

.newsletter input[type=checkbox] {
    height: 25px;
    width: 25px;
}

form input#submit {
    height: clamp(60px, calc(4vw + 0.1rem), 150px);
    width: 100%;
    font-size: clamp(16px, calc(2vw + 0.1rem), 32px);
    background-color: blue;
    color: white;
    border: none;
    border-radius: 15px;
}

@media (pointer: coarse) {
    .newsletter input[type=checkbox] {
        height: 35px;
        width: 35px;
    }
}

@media (min-width: 1000px) {
    form {
        flex-flow: row wrap;
        justify-content: space-between;
    }
    
    .input-wrapper,
    .newsletter {
        width: 100% ;
    }

    .input-wrapper:nth-child(-n+4) {
        width: calc(50% - 10px) ;
    }


}