@import "../../../cards";


.blogPosts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}

.blogPost {

    border-radius: 10px;
    padding: 20px;
    text-align: left;


    :global(.light-theme) & {
        background-color: $color-content-card-light;
        color: $color-text-light;
    }

    :global(.dark-theme) & {
        background-color: $color-background-dark;
        color: $color-text-dark;
    }

    h3 {
        margin-bottom: 10px;
    }

    p {
        margin-bottom: 10px;
    }

    button {
        border: none;
        border-radius: 5px;
        cursor: pointer;
        padding: 5px 10px;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: $post-button-hover-color;
        }

        :global(.light-theme) & {
            background-color: $color-button-background-light;
            color: $color-text-dark;
        }

        :global(.light-theme) &:hover {
            background-color: $color-button-background-hover-light;
        }


    }
}


.lightTheme {
    buttbloon {
        background-color: #4caf50;
        color: #fff;
    }
}