@use '../../../cards';

.section {
    padding: 20px 0;

    h2 {
        font-size: 2.5em;
        margin-bottom: 20px;
        display: inline-block;
    }
}

.sectionContent {
    max-width: 800px;
    margin: 0 auto;
}

.blogPosts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}

.blogPost {
    border-radius: 10px;
    padding: 20px;
    text-align: left;

    h3 {
        margin-bottom: 10px;
    }

    p {
        margin-bottom: 10px;
    }

    button {
        border: none;
        border-radius: 5px;
        cursor: pointer;
        padding: 5px 10px;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: cards.$post-button-hover-color;
        }


    }
}

.lightTheme {
    button {
        background-color: #4caf50;
        color: #fff;
    }
}