@import '@radix-ui/colors/black-alpha.css';
@import '@radix-ui/colors/blue.css';
@import '@radix-ui/colors/mauve.css';
@import '@radix-ui/colors/violet.css';

/* reset */
button,
fieldset,
input {
  all: unset;

}

.TabsRoot {
  display: flex;
  flex-direction: row;
  width: 600px;
}

.TabsList {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}

.TabsTrigger {
  font-family: inherit;
  background-color: white;
  padding: 0 20px;
  height: 45px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  color: var(--mauve-11);
  user-select: none;
  transition: 0.4s ease-in-out;
}

.TabsTrigger:hover {
  color: var(--blue-11);
}

.TabsContent {
  flex-grow: 1;
  padding: 20px;
  background-color: white;
  outline: none;
  min-height: 300px;
}
.TabsContent:focus {
  box-shadow: 0 0 0 2px black;
}

.Text {
  margin-top: 0;
  margin-bottom: 20px;
  color: var(--mauve-11);
  font-size: 15px;
  line-height: 1.5;
}

.Fieldset {
  margin-bottom: 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.LabelTabs {
  font-size: 13px;
  line-height: 1;
  margin-bottom: 15px;
  color: var(--blue-12);
  display: block;
  padding: 0;
}

.Input {
  flex: 1 0 auto;
  border-radius: 4px;
  padding: 0 10px;
  font-size: 15px;
  line-height: 1;
  color: var(--blue-11);
  box-shadow: 0 0 0 1px var(--blue-7);
  height: 35px;
}
.Input:focus {
  box-shadow: 0 0 0 2px var(--blue-8);
}

Select {
  margin-bottom: 50px;;
}

.Button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 15px;
  line-height: 1;
  font-weight: 500;
  height: 35px;
}
.Button{
  background-color: var(--blue-4);
  color: var(--blue-11);
}
.Button:hover {
  background-color: var(--blue-5);
}
.Button:focus {
  box-shadow: 0 0 0 2px var(--blue-7);
}
