
@{
    Layout = null;
    ViewBag.Title = "Render site";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body>
    <div> 
        @Model.Site
        @Model.Page
    </div>
</body>
</html>
