@use '../../../cards';

.section {
    padding: 20px 0;
    
    h2 {
        font-size: 2.5em;
        margin-bottom: 20px;
        display: inline-block;
    }
}

.sectionContent {
    max-width: 800px;
    margin: 0 auto;
}